.register-title {
    color: #535bf2;
    text-align: center;
    margin: 100px 0 60px 0;
    font-size: 36px;
    font-family: Microsoft Yahei;
}

.register-card {
    width: 500px;
    height: 400px; /* Adjust height to match login card */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.register-container {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.register-form {
    margin-top: 0; /* Reset margin if necessary */
}

.register-form-button {
    width: 100%;
}