/* register.css */
.register-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    background-color: #f0f2f5; /* Fallback color */
    background: url("/src/assets/backgroundphoto.jpg") no-repeat;
    background-size: cover;
}

.register-card {
    width: 500px;
    height: 500px; /* Adjust height if necessary */
    background: rgba(255, 255, 255, 0.85); /* Background with 85% opacity */
    border-radius: 8px; /* Optional: Add rounded corners for aesthetics */
}

.register-container {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.register-form {
    margin-top: 0; /* Reset margin if necessary */
}

.register-form-button {
    width: 100%;
}
