/* sign-in.css */
.login-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f0f2f5;
    background: url("/src/assets/backgroundphoto.jpg") no-repeat;
    background-size: 100% 100%;
}

.login-card {
    width: 500px;
    height: 400px;
    position: relative; /* Ensure card is positioned relative to container */
    background: rgba(255, 255, 255, 0.85); /* Background with 80% opacity */
    border-radius: 8px; /* Optional: Add rounded corners for aesthetics */
}

.login-form {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form-forgot {
    margin-left: auto;
}

.login-form-button {
    width: 45%;
}

.mybutton {
    text-align: center;
}
